html{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: NunitoSans-Regular,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
